/vendor/github.com
/vendor/golang.org
/vendor/gopkg.in
.env
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build Executable
class-review-backend
